h3{
    color: white;
    font-size: 30px;
}
body{
	background-color: goldenrod;
	background-image : url();
		}
#Status_box{
	background-color : yellow;
	float : left;
	margin-top : 5px;
	margin-bottom: 5px;
	padding : 0px 5px;
	text-align : left;
}
#in_box{
	background-color: pink;
	font-size: 20px;
	margin : 5px;
	padding : 2px 1px;
	text-align : left;
}
#Gamestart_box{
	background-color: pink;
	text-align: center;
	font-size: 20px;
	margin : 5px;
	padding : 2px 1px;
}
#Left_box, #Fail_box, #Left_time_box, #Message_box{
	background-color: pink;
	font-size: 20px;
	margin : 5px;
	padding : 2px 1px;
	text-align : left;

}
#Game_box{
	padding-left: 230px;
}