h3{
    color: white;
    font-size: 30px;
}
body{
    background-color: green;
		}
#Status_box{
	background-color : pink;
	float : left;
	margin-left : 5px;
	padding : 20px 20px;
	text-align : center;
}

