h3{
    color: white;
    font-size: 30px;
}
body{
    background-color: green;
		}
#Status_box{
	background-color : green;
	float : left;
	margin-top : 5px;
	margin-bottom: 5px;
	padding : 0px 5px;
	text-align : left;
}
#in_box{
	background-color: pink;
	font-size: 20px;
	margin : 5px;
	padding : 2px 1px;
	text-align : left;
}